{% extends 'base.html' %}
{% block content %}
<div class="main-content">
           <div class="content-view">
            <main class="main">
                <div class="row">
                    <h1>Overview | <span style="color:grey">National</span></h1><br>
                    <div class="col-md-12"><h4>Key Figures</h4></div>
                        <div class="col-sm-3">
                            <div class="keyfigures-horizontal">
                                <div class="subtitle-keyfigures">Number of registered children in mVaccination </div>
                                <div class="pop-keyfigures">Children 0 - 23 months</div>
                                <div class="number-keyfigures">456 children</div>
                                <div class="data-keyfigures">2345 % of girls and 356 % of boys</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="keyfigures-horizontal">
                                <div class="subtitle-keyfigures">Number of children fully immunized</div>
                                <div class="pop-keyfigures">Children 12 - 23 months</div>
                                <div class="number-keyfigures">345 children</div>
                                <div class="data-keyfigures">3456 % of registered children</div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="keyfigures-horizontal">
                                   <div class="subtitle-keyfigures">Number of Children missing second dose of Measles</div>
                                   <div class="pop-keyfigures">Children 12 - 23 months</div>
                                   <div class="number-keyfigures">3456 children</div>
                                   <div class="data-keyfigures">3456 % of registered children</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="keyfigures-horizontal">
                                   <div class="subtitle-keyfigures">Number of Children Dropout between DPT1 and DPT3</div>
                                   <div class="pop-keyfigures">Children 12 - 23 months</div>
                                   <div class="number-keyfigures">34556 children</div>
                                   <div class="data-keyfigures">44556 % of registered children</div>
                            </div>
                        </div>
        </div>
        <div class="row"> <br></div>
        <div class="row">
                <div class="col-md-12 bg-beige"><h4>Vaccination Coverage</h4></div>
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <h6>% Fully Immunized</h6>
                        <p><small>Children 12 – 23 months</small></p>
                    </div>
                    <div class="col-sm-4">
                    <div class="keyfigures-vertical">

                    </div>
                             </div>

                          </div>
                         <div class="row">
                          <div class="col-md-12 bg-beige"><h4>Coverage Indicators</h4></div>
                          <div class="col-md-8">

                     </div>
                    <div class="col-md-4">
                          <h6>Drop-Out by Vaccines (%)</h6>
                         <p><small>Children 12–23 months</small></p>
                         <div class="">

                         </div>
                    </div>

                </div>

                <div class="content-footer">
                    <nav class="footer-right">
                        <ul class="nav">
                            <li></li>
                        </ul>
                    </nav>
                    <nav class="footer-left">
                        <ul class="nav">
                            <li><a href="http://www.moh.gov.zm" target="_blank"><small>Ministry of Health- Latest update: 2019</small></a> </li>
                        </ul>
                    </nav>
                </div><!--content-footer-->
            </main>
           </div>
</div>
{% endblock %}