{% load staticfiles %}
<nav class="header navbar" >
    <div class="header-inner">
        <div class="navbar-item brand hidden-lg-up">
            <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen"><i class="material-icons">menu</i> </a>
            <a class="brand-logo hidden-xs-down"></a>
        </div>
        <a class="navbar-item navbar-heading navbar-spacer-right  hidden-lg-up" href="#">mVaccination</a>
        <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="#"></a>
        <div class="navbar-item nav navbar-nav">
            <div class="nav-profile dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="user-info expanding-hidden"><i class="material-icons">person</i>user name</div>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">Add user</a>
                    <a class="dropdown-item" href="">Users list</a>
                    <a class="dropdown-item" target="_blank" href="">Import excel</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
    </div>
</nav><!--Navbar-->