{% load staticfiles %}
<div class="sidebar-panel"><!--Sidebar-->
            <div class="brand">

            <img class="expanding-hidden" src="{% static 'images/logo_v2_white_300x100.png' %}" style="height:75%;width:75%;" alt=""><a class="brand-logo"> </a>
             <p style="color:#FFF;text-align:center">
             <h5 style="color:#FFF;">Dashboard</h5><br>
            </div>
            <nav>
            <ul class="nav"><BR></ul>
               <ul class="nav">
                  <li><a href=""><i class="material-icons">home</i>   <span>Home</span></a></li>
                  <li>
                        <a href="javascript:;"><span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span><i class="material-icons">trending_up</i><span>Coverage</span></a>
                        <ul class="sub-menu">
                                 <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>By province</span></a></li>
                                 <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>By district</span></a></li>
                                 <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>By facility</span></a></li>
                                 <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>By zone</span></a></li>
                        </ul>
                  </li>
                  <li>
                    <a href="javascript:;"><span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span><i class="material-icons">import_export</i><span>Export</span></a>
                    <ul class="sub-menu">
                   <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>Provinces</span></a></li>
                             <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>Districts</span></a></li>
                             <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>Health Facilities</span></a></li>
                             <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>Communities</span></a></li>
                    </ul>
                   </li>
                   <li>
                    <a href="javascript:;"><span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span><i class="material-icons">list</i> <span>Vaccines</span></a>
                    <ul class="sub-menu">
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>BCG</span></a></li>
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>OPV</span></a></li>
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>DTP</span></a></li>
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>PVC</span></a></li>
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>Rota</span></a></li>
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>Measles</span></a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="javascript:;"><span class="menu-caret"><i class="material-icons">arrow_drop_down</i> </span><i class="material-icons">save</i> <span>Registers</span></a>
                    <ul class="sub-menu">
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>Community register</span></a></li>
                         <li><a href=""><i class="material-icons">keyboard_arrow_right</i><span>CHW register</span></a></li>
                    </ul>
                 </li>
                 <li><a href=""><i class="material-icons">people</i><span>Metrics</span></a></li>
               </ul>
                  <ul class="nav">
                  <li>
                     <hr>
                  </li>
                      <br><br><br><br>
                      <li><a href="#" target="_blank"><i class="material-icons">launch</i> <span>Partners</span></a></li>
                       <li><a href="https://app.rapidpro.io/" target="_blank"><i class="material-icons">launch</i> <span>RapidPro</span></a></li>
                     <li><a href="https://zambia.casepro.io/users/login/?next=/" target="_blank"><i class="material-icons">launch</i> <span>Casepro</span></a></li>
                </ul>
            </nav>
            <div class="brand">
                <a class="brand-logo">

                 <img class="expanding-hidden" src="{% static 'images/Coat_of_arms_of_Zambia.png' %}" style="height:60%;width:60%;"alt="">
             <p><small>Republic of Zambia<br>Ministry of Health</small></p>

                </a>
            </div>
         </div>